In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Margate,GB,2022-01-27 15:18:33,51.3813,1.3862,53.91,73,59,5.99
1,1,Shingu,JP,2022-01-27 15:18:34,33.7333,135.9833,39.49,75,3,6.71
2,2,Fare,PF,2022-01-27 15:18:34,-16.7000,-151.0167,80.19,77,26,15.32
3,3,Tuktoyaktuk,CA,2022-01-27 15:18:34,69.4541,-133.0374,-18.40,76,0,10.36
4,4,Vestmanna,FO,2022-01-27 15:18:35,62.1564,-7.1664,36.52,70,20,6.91

In [3]:
# Get data types
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

## General Syntax:
### 1. Assign the locations to an array of latitude and longitude pairs.
locations = [latitude, longitude]
### 2. Assign the weights variable to some values.
temperatures = # an array of length equal to the locations array length
### 3. Assign the figure variable to the gmaps.figure() attribute.
fig = gmaps.figure()
### 4. Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations.
heatmap_layer = gmaps.heatmap_layer(locations, weights=temperatures)

### 5. Add the heatmap layer.
fig.add_layer(heatmap_layer)
### 6. Call the figure to plot the data.
fig

In [5]:
%matplotlib inline

In [6]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [10]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
#heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp])
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [11]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [12]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [13]:
# Heatmap of wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

## Input Temps

In [33]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [34]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
2,2,Fare,PF,2022-01-27 15:18:34,-16.7000,-151.0167,80.19,77,26,15.32
6,6,Tabou,CI,2022-01-27 15:18:35,4.4230,-7.3528,84.42,64,7,9.84
7,7,Atuona,PF,2022-01-27 15:18:35,-9.8000,-139.0333,77.86,77,33,19.06
8,8,Rikitea,PF,2022-01-27 15:18:36,-23.1203,-134.9692,77.68,76,34,17.56
9,9,Araguaina,BR,2022-01-27 15:18:36,-7.1911,-48.2072,79.45,77,100,2.46
14,14,Butaritari,KI,2022-01-27 15:18:37,3.0707,172.7902,81.32,80,27,13.44
17,17,Avarua,CK,2022-01-27 15:18:38,-21.2078,-159.7750,78.85,94,75,12.66
19,19,San Policarpo,PH,2022-01-27 15:18:39,12.1791,125.5072,80.42,79,85,10.29
20,20,Martapura,ID,2022-01-27 15:18:39,-3.4167,114.8500,80.69,89,100,3.44
24,24,Raga,SS,2022-01-27 15:18:40,8.4596,25.6780,85.82,13,99,9.24

In [35]:
preferred_cities_df.count()

City_ID       167
City          167
Country       166
Date          167
Lat           167
Lng           167
Max Temp      167
Humidity      167
Cloudiness    167
Wind Speed    167
dtype: int64

## Vacation Criteria

In [36]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

             City Country  Max Temp      Lat       Lng Hotel Name
2            Fare      PF     80.19 -16.7000 -151.0167
6           Tabou      CI     84.42   4.4230   -7.3528
7          Atuona      PF     77.86  -9.8000 -139.0333
8         Rikitea      PF     77.68 -23.1203 -134.9692
9       Araguaina      BR     79.45  -7.1911  -48.2072
14     Butaritari      KI     81.32   3.0707  172.7902
17         Avarua      CK     78.85 -21.2078 -159.7750
19  San Policarpo      PH     80.42  12.1791  125.5072
20      Martapura      ID     80.69  -3.4167  114.8500
24           Raga      SS     85.82   8.4596   25.6780

In [37]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")
        
hotel_df.head(10)

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

,City,Country,Max Temp,Lat,Lng,Hotel Name
2,Fare,PF,80.19,-16.7000,-151.0167,Maitai Lapita Village Huahine
6,Tabou,CI,84.42,4.4230,-7.3528,hotêl doufoulougou
7,Atuona,PF,77.86,-9.8000,-139.0333,Villa Enata
8,Rikitea,PF,77.68,-23.1203,-134.9692,People ThankYou
9,Araguaina,BR,79.45,-7.1911,-48.2072,Hotel São Vicente
14,Butaritari,KI,81.32,3.0707,172.7902,Isles Sunset Lodge
17,Avarua,CK,78.85,-21.2078,-159.7750,Paradise Inn
19,San Policarpo,PH,80.42,12.1791,125.5072,Agapita M. Nicart
20,Martapura,ID,80.69,-3.4167,114.8500,Montana Hotel Syariah
24,Raga,SS,85.82,8.4596,25.6780,

## Adding Markers to Maps

In [38]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [39]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [40]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [41]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))